body {
    background-image: url("background.jpg");
    background-size: cover;
}
nav{
    background-color: darkgrey;
    padding-top:4px !important;
    padding-bottom:0 !important;
    height: 20px;
    max-height: 20px;
    display:inline-block;
}
.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important;
    padding-bottom:0 !important;
    height: 20px;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.container-fluid{
    padding-top:4px;
    padding-bottom:0px;
    height: 20px;
    max-height: 20px;
    display:inline-block;
}
#navlinks {
    display:inline-block;
    float: right;
}
#TwitterLogo{
    width:5.5%;
}
#LinkedInLogo{
    max-width: 100%;
    max-height: 100%;
}
#splashname{
    color: white;
}
#FacebookLogo{
    width:5.5%;
    height:150%;
    background-color: lightgrey;
}
#logo {
    width:3%;
    height:150%;
}
