{% extends 'base.html' %}

<!DOCTYPE html>
{% block content %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./index.css">
        <link rel='icon' href="JBLogo.png" type='image/png'/>
        <meta charset="utf-8">
        <title>John D. Bower</title>
    </head>
    <body>
        This is something else
    </body>
</html>

{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
