body {
    background-image: url("background.jpg");
    background-size: cover;
}
.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important;
    padding-bottom:0 !important;
    height: 20px;
}
#navlinks {
    float: right;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#TwitterLogo{
    width:6%;
}
#LinkedInLogo{
    max-width: 100%;
    max-height: 100%;
}
#splashname{
    color: white;
}
#FacebookLogo{
    width:5%;
    height:150%;
    background-color: lightgrey;
}
#logo {
    width:3%;
    height:150%;
}
#menu {
    color: white;
}
.navbar-right {
    padding-top:4px;
    padding-bottom:0;
    height:20px;
}
.navbar-brand {
    padding-top:4px;
    padding-bottom:0;
    height:20px;
}
.navbar {
    max-height:32px;
    min-height:32px !important;
    background-color: #2b2b2b;
}
li {
    padding-top:4px !important;
    padding-bottom:0 !important;
    height: 28px;
}
